# Unity 자동 생성 폴더
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# 빌드 결과물
[Bb]uild/
[Bb]uilds/

# Visual Studio / VS Code
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user

# 운영체제에서 생성되는 파일
.DS_Store
Thumbs.db
.vsconfig